$blue-cool-vivid-80: #002d3f;
$blue-cool-vivid-70: #074b69;
$blue-cool-vivid-60: #07648d;
$blue-cool-vivid-50: #0d7ea2;
$blue-cool-vivid-40: #28a0cb;
$blue-cool-vivid-30: #59b9de;
$blue-cool-vivid-20: #97d4ea;
$blue-cool-vivid-10: #c3ebfa;
$blue-cool-vivid-5: #e1f3f8;

$blue-cool-vivid: (
  blue-cool-vivid-80: $blue-cool-vivid-80,
  blue-cool-vivid-70: $blue-cool-vivid-70,
  blue-cool-vivid-60: $blue-cool-vivid-60,
  blue-cool-vivid-50: $blue-cool-vivid-50,
  blue-cool-vivid-40: $blue-cool-vivid-40,
  blue-cool-vivid-30: $blue-cool-vivid-30,
  blue-cool-vivid-20: $blue-cool-vivid-20,
  blue-cool-vivid-10: $blue-cool-vivid-10,
  blue-cool-vivid-5: $blue-cool-vivid-5,
);
