$green-warm-vivid-80: #38380b;
$green-warm-vivid-70: #4b4e10;
$green-warm-vivid-60: #5a6613;
$green-warm-vivid-50: #6a7d00;
$green-warm-vivid-40: #7e9c1d;
$green-warm-vivid-30: #a3b72c;
$green-warm-vivid-20: #c5d30a;
$green-warm-vivid-10: #e7f434;
$green-warm-vivid-5: #f5fbc1;

$green-warm-vivid: (
  green-warm-vivid-80: $green-warm-vivid-80,
  green-warm-vivid-70: $green-warm-vivid-70,
  green-warm-vivid-60: $green-warm-vivid-60,
  green-warm-vivid-50: $green-warm-vivid-50,
  green-warm-vivid-40: $green-warm-vivid-40,
  green-warm-vivid-30: $green-warm-vivid-30,
  green-warm-vivid-20: $green-warm-vivid-20,
  green-warm-vivid-10: $green-warm-vivid-10,
  green-warm-vivid-5: $green-warm-vivid-5,
);
