$green-vivid-80: #243413;
$green-vivid-70: #2f4a0b;
$green-vivid-60: #466c04;
$green-vivid-50: #538200;
$green-vivid-40: #719f2a;
$green-vivid-30: #7fb135;
$green-vivid-20: #98d035;
$green-vivid-10: #c5ee93;
$green-vivid-5: #ddf9c7;

$green-vivid: (
  green-vivid-80: $green-vivid-80,
  green-vivid-70: $green-vivid-70,
  green-vivid-60: $green-vivid-60,
  green-vivid-50: $green-vivid-50,
  green-vivid-40: $green-vivid-40,
  green-vivid-30: $green-vivid-30,
  green-vivid-20: $green-vivid-20,
  green-vivid-10: $green-vivid-10,
  green-vivid-5: $green-vivid-5,
);
