$magenta-vivid-80: #4f172e;
$magenta-vivid-70: #731f44;
$magenta-vivid-60: #ab2165;
$magenta-vivid-50: #d72d79;
$magenta-vivid-40: #fd4496;
$magenta-vivid-30: #ff87b2;
$magenta-vivid-20: #ffb4cf;
$magenta-vivid-10: #ffddea;
$magenta-vivid-5: #fff2f5;

$magenta-vivid: (
  magenta-vivid-80: $magenta-vivid-80,
  magenta-vivid-70: $magenta-vivid-70,
  magenta-vivid-60: $magenta-vivid-60,
  magenta-vivid-50: $magenta-vivid-50,
  magenta-vivid-40: $magenta-vivid-40,
  magenta-vivid-30: $magenta-vivid-30,
  magenta-vivid-20: $magenta-vivid-20,
  magenta-vivid-10: $magenta-vivid-10,
  magenta-vivid-5: $magenta-vivid-5,
);
