$magenta-90: #1b1617;
$magenta-80: #402731;
$magenta-70: #66364b;
$magenta-60: #8b4566;
$magenta-50: #c84281;
$magenta-40: #e0699f;
$magenta-30: #e895b3;
$magenta-20: #f0bbcc;
$magenta-10: #f6e1e8;
$magenta-5: #f9f0f2;

$magenta: (
  magenta-90: $magenta-90,
  magenta-80: $magenta-80,
  magenta-70: $magenta-70,
  magenta-60: $magenta-60,
  magenta-50: $magenta-50,
  magenta-40: $magenta-40,
  magenta-30: $magenta-30,
  magenta-20: $magenta-20,
  magenta-10: $magenta-10,
  magenta-5: $magenta-5,
);
