$red-vivid-80: #5c1111;
$red-vivid-70: #8b0a03;
$red-vivid-60: #b50909;
$red-vivid-50: #e52207;
$red-vivid-40: #fb5a47;
$red-vivid-30: #ff8d7b;
$red-vivid-20: #fdb8ae;
$red-vivid-10: #fde0db;
$red-vivid-5: #fff3f2;

$red-vivid: (
  red-vivid-80: $red-vivid-80,
  red-vivid-70: $red-vivid-70,
  red-vivid-60: $red-vivid-60,
  red-vivid-50: $red-vivid-50,
  red-vivid-40: $red-vivid-40,
  red-vivid-30: $red-vivid-30,
  red-vivid-20: $red-vivid-20,
  red-vivid-10: $red-vivid-10,
  red-vivid-5: $red-vivid-5,
);
