$violet-vivid-80: #39215e;
$violet-vivid-70: #54278f;
$violet-vivid-60: #783cb9;
$violet-vivid-50: #9355dc;
$violet-vivid-40: #ad79e9;
$violet-vivid-30: #c39deb;
$violet-vivid-20: #d5bfff;
$violet-vivid-10: #ede3ff;
$violet-vivid-5: #f7f2ff;

$violet-vivid: (
  violet-vivid-80: $violet-vivid-80,
  violet-vivid-70: $violet-vivid-70,
  violet-vivid-60: $violet-vivid-60,
  violet-vivid-50: $violet-vivid-50,
  violet-vivid-40: $violet-vivid-40,
  violet-vivid-30: $violet-vivid-30,
  violet-vivid-20: $violet-vivid-20,
  violet-vivid-10: $violet-vivid-10,
  violet-vivid-5: $violet-vivid-5,
);
