$blue-warm-vivid-90: #071d41;
$blue-warm-vivid-80: #0c326f;
$blue-warm-vivid-70: #1351b4;
$blue-warm-vivid-60: #155bcb;
$blue-warm-vivid-50: #2670e8;
$blue-warm-vivid-40: #5992ed;
$blue-warm-vivid-30: #81aefc;
$blue-warm-vivid-20: #adcdff;
$blue-warm-vivid-10: #d4e5ff;
$blue-warm-vivid-5: #edf5ff;

$blue-warm-vivid: (
  blue-warm-vivid-90: $blue-warm-vivid-90,
  blue-warm-vivid-80: $blue-warm-vivid-80,
  blue-warm-vivid-70: $blue-warm-vivid-70,
  blue-warm-vivid-60: $blue-warm-vivid-60,
  blue-warm-vivid-50: $blue-warm-vivid-50,
  blue-warm-vivid-40: $blue-warm-vivid-40,
  blue-warm-vivid-30: $blue-warm-vivid-30,
  blue-warm-vivid-20: $blue-warm-vivid-20,
  blue-warm-vivid-10: $blue-warm-vivid-10,
  blue-warm-vivid-5: $blue-warm-vivid-5,
);
