$cyan-90: #111819;
$cyan-80: #203133;
$cyan-70: #2c4a4e;
$cyan-60: #2a646d;
$cyan-50: #168092;
$cyan-40: #449dac;
$cyan-30: #5dc0d1;
$cyan-20: #99deea;
$cyan-10: #ccecf2;
$cyan-5: #e7f6f8;

$cyan: (
  cyan-90: $cyan-90,
  cyan-80: $cyan-80,
  cyan-70: $cyan-70,
  cyan-60: $cyan-60,
  cyan-50: $cyan-50,
  cyan-40: $cyan-40,
  cyan-30: $cyan-30,
  cyan-20: $cyan-20,
  cyan-10: $cyan-10,
  cyan-5: $cyan-5,
);
