$gold-90: #191714;
$gold-80: #322d26;
$gold-70: #4d4438;
$gold-60: #6b5947;
$gold-50: #8e704f;
$gold-40: #ad8b65;
$gold-30: #c7a97b;
$gold-20: #dec69a;
$gold-10: #f1e5cd;
$gold-5: #f5f0e6;

$gold: (
  gold-90: $gold-90,
  gold-80: $gold-80,
  gold-70: $gold-70,
  gold-60: $gold-60,
  gold-50: $gold-50,
  gold-40: $gold-40,
  gold-30: $gold-30,
  gold-20: $gold-20,
  gold-10: $gold-10,
  gold-5: $gold-5,
);
