$gold-vivid-80: #3b2b15;
$gold-vivid-70: #5c410a;
$gold-vivid-60: #7a591a;
$gold-vivid-50: #936f38;
$gold-vivid-40: #c2850c;
$gold-vivid-30: #e5a000;
$gold-vivid-20: #ffbe2e;
$gold-vivid-10: #ffe396;
$gold-vivid-5: #fef0c8;

$gold-vivid: (
  gold-vivid-80: $gold-vivid-80,
  gold-vivid-70: $gold-vivid-70,
  gold-vivid-60: $gold-vivid-60,
  gold-vivid-50: $gold-vivid-50,
  gold-vivid-40: $gold-vivid-40,
  gold-vivid-30: $gold-vivid-30,
  gold-vivid-20: $gold-vivid-20,
  gold-vivid-10: $gold-vivid-10,
  gold-vivid-5: $gold-vivid-5,
);
