$green-cool-vivid-80: #19311e;
$green-cool-vivid-70: #154c21;
$green-cool-vivid-60: #216e1f;
$green-cool-vivid-50: #168821;
$green-cool-vivid-40: #00a91c;
$green-cool-vivid-30: #21c834;
$green-cool-vivid-20: #70e17b;
$green-cool-vivid-10: #b7f5bd;
$green-cool-vivid-5: #e3f5e1;

$green-cool-vivid: (
  green-cool-vivid-80: $green-cool-vivid-80,
  green-cool-vivid-70: $green-cool-vivid-70,
  green-cool-vivid-60: $green-cool-vivid-60,
  green-cool-vivid-50: $green-cool-vivid-50,
  green-cool-vivid-40: $green-cool-vivid-40,
  green-cool-vivid-30: $green-cool-vivid-30,
  green-cool-vivid-20: $green-cool-vivid-20,
  green-cool-vivid-10: $green-cool-vivid-10,
  green-cool-vivid-5: $green-cool-vivid-5,
);
