$green-90: #161814;
$green-80: #293021;
$green-70: #3c4a29;
$green-60: #4c6424;
$green-50: #607f35;
$green-40: #7d9b4e;
$green-30: #9bb672;
$green-20: #b8d293;
$green-10: #dfeacd;
$green-5: #eaf4dd;

$green: (
  green-90: $green-90,
  green-80: $green-80,
  green-70: $green-70,
  green-60: $green-60,
  green-50: $green-50,
  green-40: $green-40,
  green-30: $green-30,
  green-20: $green-20,
  green-10: $green-10,
  green-5: $green-5,
);
