$indigo-cool-vivid-80: #1b2b85;
$indigo-cool-vivid-70: #222fbf;
$indigo-cool-vivid-60: #3e4ded;
$indigo-cool-vivid-50: #4866ff;
$indigo-cool-vivid-40: #628ef4;
$indigo-cool-vivid-30: #94adff;
$indigo-cool-vivid-20: #b8c8ff;
$indigo-cool-vivid-10: #dee5ff;
$indigo-cool-vivid-5: #edf0ff;

$indigo-cool-vivid: (
  indigo-cool-vivid-80: $indigo-cool-vivid-80,
  indigo-cool-vivid-70: $indigo-cool-vivid-70,
  indigo-cool-vivid-60: $indigo-cool-vivid-60,
  indigo-cool-vivid-50: $indigo-cool-vivid-50,
  indigo-cool-vivid-40: $indigo-cool-vivid-40,
  indigo-cool-vivid-30: $indigo-cool-vivid-30,
  indigo-cool-vivid-20: $indigo-cool-vivid-20,
  indigo-cool-vivid-10: $indigo-cool-vivid-10,
  indigo-cool-vivid-5: $indigo-cool-vivid-5,
);
