$indigo-vivid-80: #212463;
$indigo-vivid-70: #3333a3;
$indigo-vivid-60: #4a50c4;
$indigo-vivid-50: #656bd7;
$indigo-vivid-40: #8289ff;
$indigo-vivid-30: #a3a7fa;
$indigo-vivid-20: #ccceff;
$indigo-vivid-10: #e0e0ff;
$indigo-vivid-5: #f0f0ff;

$indigo-vivid: (
  indigo-vivid-80: #212463,
  indigo-vivid-70: #3333a3,
  indigo-vivid-60: #4a50c4,
  indigo-vivid-50: #656bd7,
  indigo-vivid-40: #8289ff,
  indigo-vivid-30: #a3a7fa,
  indigo-vivid-20: #ccceff,
  indigo-vivid-10: #e0e0ff,
  indigo-vivid-5: #f0f0ff,
);
