$indigo-90: #16171f;
$indigo-80: #2b2c40;
$indigo-70: #3d4076;
$indigo-60: #4d52af;
$indigo-50: #676cc8;
$indigo-40: #8889db;
$indigo-30: #a5a8eb;
$indigo-20: #c5c5f3;
$indigo-10: #e5e4fa;
$indigo-5: #efeff8;

$indigo: (
  indigo-90: $indigo-90,
  indigo-80: $indigo-80,
  indigo-70: $indigo-70,
  indigo-60: $indigo-60,
  indigo-50: $indigo-50,
  indigo-40: $indigo-40,
  indigo-30: $indigo-30,
  indigo-20: $indigo-20,
  indigo-10: $indigo-10,
  indigo-5: $indigo-5,
);
