$indigo-warm-90: #18161d;
$indigo-warm-80: #2e2c40;
$indigo-warm-70: #453c7b;
$indigo-warm-60: #5e519e;
$indigo-warm-50: #7665d1;
$indigo-warm-40: #9287d8;
$indigo-warm-30: #afa5e8;
$indigo-warm-20: #cbc4f2;
$indigo-warm-10: #e7e3fa;
$indigo-warm-5: #f1eff7;

$indigo-warm: (
  indigo-warm-90: $indigo-warm-90,
  indigo-warm-80: $indigo-warm-80,
  indigo-warm-70: $indigo-warm-70,
  indigo-warm-60: $indigo-warm-60,
  indigo-warm-50: $indigo-warm-50,
  indigo-warm-40: $indigo-warm-40,
  indigo-warm-30: $indigo-warm-30,
  indigo-warm-20: $indigo-warm-20,
  indigo-warm-10: $indigo-warm-10,
  indigo-warm-5: $indigo-warm-5,
);
