$indigo-warm-vivid-80: #261f5b;
$indigo-warm-vivid-70: #3d2c9d;
$indigo-warm-vivid-60: #5942d2;
$indigo-warm-vivid-50: #745fe9;
$indigo-warm-vivid-40: #967efb;
$indigo-warm-vivid-30: #b69fff;
$indigo-warm-vivid-20: #cfc4fd;
$indigo-warm-vivid-10: #e4deff;
$indigo-warm-vivid-5: #f5f2ff;

$indigo-warm-vivid: (
  indigo-warm-vivid-80: $indigo-warm-vivid-80,
  indigo-warm-vivid-70: $indigo-warm-vivid-70,
  indigo-warm-vivid-60: $indigo-warm-vivid-60,
  indigo-warm-vivid-50: $indigo-warm-vivid-50,
  indigo-warm-vivid-40: $indigo-warm-vivid-40,
  indigo-warm-vivid-30: $indigo-warm-vivid-30,
  indigo-warm-vivid-20: $indigo-warm-vivid-20,
  indigo-warm-vivid-10: $indigo-warm-vivid-10,
  indigo-warm-vivid-5: $indigo-warm-vivid-5,
);
