$mint-cool-vivid-80: #123131;
$mint-cool-vivid-70: #0b4b3f;
$mint-cool-vivid-60: #0f6460;
$mint-cool-vivid-50: #008480;
$mint-cool-vivid-40: #36a191;
$mint-cool-vivid-30: #1dc2ae;
$mint-cool-vivid-20: #40e0d0;
$mint-cool-vivid-10: #7efbe1;
$mint-cool-vivid-5: #d5fbf3;

$mint-cool-vivid: (
  mint-cool-vivid-80: $mint-cool-vivid-80,
  mint-cool-vivid-70: $mint-cool-vivid-70,
  mint-cool-vivid-60: $mint-cool-vivid-60,
  mint-cool-vivid-50: $mint-cool-vivid-50,
  mint-cool-vivid-40: $mint-cool-vivid-40,
  mint-cool-vivid-30: $mint-cool-vivid-30,
  mint-cool-vivid-20: $mint-cool-vivid-20,
  mint-cool-vivid-10: $mint-cool-vivid-10,
  mint-cool-vivid-5: $mint-cool-vivid-5,
);
