$mint-90: #0d1a12;
$mint-80: #193324;
$mint-70: #204e34;
$mint-60: #286846;
$mint-50: #2e8367;
$mint-40: #34a37e;
$mint-30: #5abf95;
$mint-20: #92d9bb;
$mint-10: #c7efe2;
$mint-5: #dbf6ed;

$mint: (
  mint-90: $mint-90,
  mint-80: $mint-80,
  mint-70: $mint-70,
  mint-60: $mint-60,
  mint-50: $mint-50,
  mint-40: $mint-40,
  mint-30: $mint-30,
  mint-20: $mint-20,
  mint-10: $mint-10,
  mint-5: $mint-5,
);
