$mint-vivid-80: #0d351e;
$mint-vivid-70: #0c4e29;
$mint-vivid-60: #146947;
$mint-vivid-50: #008659;
$mint-vivid-40: #00a871;
$mint-vivid-30: #04c585;
$mint-vivid-20: #0ceda6;
$mint-vivid-10: #83fcd4;
$mint-vivid-5: #c9fbeb;

$mint-vivid: (
  mint-vivid-80: $mint-vivid-80,
  mint-vivid-70: $mint-vivid-70,
  mint-vivid-60: $mint-vivid-60,
  mint-vivid-50: $mint-vivid-50,
  mint-vivid-40: $mint-vivid-40,
  mint-vivid-30: $mint-vivid-30,
  mint-vivid-20: $mint-vivid-20,
  mint-vivid-10: $mint-vivid-10,
  mint-vivid-5: $mint-vivid-5,
);
