$mint-cool-90: #111818;
$mint-cool-80: #203131;
$mint-cool-70: #2a4b45;
$mint-cool-60: #376462;
$mint-cool-50: #40807e;
$mint-cool-40: #4f9e99;
$mint-cool-30: #6fbab3;
$mint-cool-20: #9bd4cf;
$mint-cool-10: #c4eeeb;
$mint-cool-5: #e0f7f6;

$mint-cool: (
  mint-cool-90: $mint-cool-90,
  mint-cool-80: $mint-cool-80,
  mint-cool-70: $mint-cool-70,
  mint-cool-60: $mint-cool-60,
  mint-cool-50: $mint-cool-50,
  mint-cool-40: $mint-cool-40,
  mint-cool-30: $mint-cool-30,
  mint-cool-20: $mint-cool-20,
  mint-cool-10: $mint-cool-10,
  mint-cool-5: $mint-cool-5,
);
