$orange-vivid-80: #352313;
$orange-vivid-70: #5f3617;
$orange-vivid-60: #8c471c;
$orange-vivid-50: #c05600;
$orange-vivid-40: #e66f0e;
$orange-vivid-30: #ff8c00;
$orange-vivid-20: #ffbc78;
$orange-vivid-10: #fce2c5;
$orange-vivid-5: #fdf5e6;

$orange-vivid: (
  orange-vivid-80: $orange-vivid-80,
  orange-vivid-70: $orange-vivid-70,
  orange-vivid-60: $orange-vivid-60,
  orange-vivid-50: $orange-vivid-50,
  orange-vivid-40: $orange-vivid-40,
  orange-vivid-30: $orange-vivid-30,
  orange-vivid-20: $orange-vivid-20,
  orange-vivid-10: $orange-vivid-10,
  orange-vivid-5: $orange-vivid-5,
);
