$orange-90: #1b1614;
$orange-80: #332d27;
$orange-70: #524236;
$orange-60: #775540;
$orange-50: #a26739;
$orange-40: #dd7533;
$orange-30: #f09860;
$orange-20: #f3bf90;
$orange-10: #f2e4d4;
$orange-5: #f6efe9;

$orange: (
  orange-90: $orange-90,
  orange-80: $orange-80,
  orange-70: $orange-70,
  orange-60: $orange-60,
  orange-50: $orange-50,
  orange-40: $orange-40,
  orange-30: $orange-30,
  orange-20: $orange-20,
  orange-10: $orange-10,
  orange-5: $orange-5,
);
