$orange-warm-vivid-80: #3d231d;
$orange-warm-vivid-70: #782312;
$orange-warm-vivid-60: #a72f10;
$orange-warm-vivid-50: #cf4900;
$orange-warm-vivid-40: #ff580a;
$orange-warm-vivid-30: #fc906d;
$orange-warm-vivid-20: #fbbaa7;
$orange-warm-vivid-10: #ffe2d1;
$orange-warm-vivid-5: #fff3ea;

$orange-warm-vivid: (
  orange-warm-vivid-80: $orange-warm-vivid-80,
  orange-warm-vivid-70: $orange-warm-vivid-70,
  orange-warm-vivid-60: $orange-warm-vivid-60,
  orange-warm-vivid-50: $orange-warm-vivid-50,
  orange-warm-vivid-40: $orange-warm-vivid-40,
  orange-warm-vivid-30: $orange-warm-vivid-30,
  orange-warm-vivid-20: $orange-warm-vivid-20,
  orange-warm-vivid-10: $orange-warm-vivid-10,
  orange-warm-vivid-5: $orange-warm-vivid-5,
);
