$red-cool-vivid-80: #4f1c24;
$red-cool-vivid-70: #822133;
$red-cool-vivid-60: #b21d38;
$red-cool-vivid-50: #e41d3d;
$red-cool-vivid-40: #f45d79;
$red-cool-vivid-30: #fd8ba0;
$red-cool-vivid-20: #f8b9c5;
$red-cool-vivid-10: #f8dfe2;
$red-cool-vivid-5: #fff2f5;

$red-cool-vivid: (
  red-cool-vivid-80: $red-cool-vivid-80,
  red-cool-vivid-70: $red-cool-vivid-70,
  red-cool-vivid-60: $red-cool-vivid-60,
  red-cool-vivid-50: $red-cool-vivid-50,
  red-cool-vivid-40: $red-cool-vivid-40,
  red-cool-vivid-30: $red-cool-vivid-30,
  red-cool-vivid-20: $red-cool-vivid-20,
  red-cool-vivid-10: $red-cool-vivid-10,
  red-cool-vivid-5: $red-cool-vivid-5,
);
