$violet-90: #18161d;
$violet-80: #312b3f;
$violet-70: #4c3d69;
$violet-60: #665190;
$violet-50: #8168b3;
$violet-40: #9d84d2;
$violet-30: #b8a2e3;
$violet-20: #d0c3e9;
$violet-10: #ebe3f9;
$violet-5: #f4f1f9;

$violet: (
  violet-90: $violet-90,
  violet-80: $violet-80,
  violet-70: $violet-70,
  violet-60: $violet-60,
  violet-50: $violet-50,
  violet-40: $violet-40,
  violet-30: $violet-30,
  violet-20: $violet-20,
  violet-10: $violet-10,
  violet-5: $violet-5,
);
