$violet-warm-90: #1b151b;
$violet-warm-80: #382936;
$violet-warm-70: #5c395a;
$violet-warm-60: #864381;
$violet-warm-50: #b04abd;
$violet-warm-40: #bf77c8;
$violet-warm-30: #d29ad8;
$violet-warm-20: #e2bee4;
$violet-warm-10: #f6dff8;
$violet-warm-5: #f8f0f9;

$violet-warm: (
  violet-warm-90: $violet-warm-90,
  violet-warm-80: $violet-warm-80,
  violet-warm-70: $violet-warm-70,
  violet-warm-60: $violet-warm-60,
  violet-warm-50: $violet-warm-50,
  violet-warm-40: $violet-warm-40,
  violet-warm-30: $violet-warm-30,
  violet-warm-20: $violet-warm-20,
  violet-warm-10: $violet-warm-10,
  violet-warm-5: $violet-warm-5,
);
