$yellow-90: #1a1614;
$yellow-80: #332d27;
$yellow-70: #504332;
$yellow-60: #6b5a39;
$yellow-50: #8a7237;
$yellow-40: #a88f48;
$yellow-30: #c9ab48;
$yellow-20: #e6c74c;
$yellow-10: #f5e6af;
$yellow-5: #faf3d1;

$yellow: (
  yellow-90: $yellow-90,
  yellow-80: $yellow-80,
  yellow-70: $yellow-70,
  yellow-60: $yellow-60,
  yellow-50: $yellow-50,
  yellow-40: $yellow-40,
  yellow-30: $yellow-30,
  yellow-20: $yellow-20,
  yellow-10: $yellow-10,
  yellow-5: $yellow-5,
);
