$yellow-vivid-80: #422d19;
$yellow-vivid-70: #5c4809;
$yellow-vivid-60: #776017;
$yellow-vivid-50: #947100;
$yellow-vivid-40: #b38c00;
$yellow-vivid-30: #ddaa01;
$yellow-vivid-20: #ffcd07;
$yellow-vivid-10: #fee685;
$yellow-vivid-5: #fff5c2;

$yellow-vivid: (
  yellow-vivid-80: $yellow-vivid-80,
  yellow-vivid-70: $yellow-vivid-70,
  yellow-vivid-60: $yellow-vivid-60,
  yellow-vivid-50: $yellow-vivid-50,
  yellow-vivid-40: $yellow-vivid-40,
  yellow-vivid-30: $yellow-vivid-30,
  yellow-vivid-20: $yellow-vivid-20,
  yellow-vivid-10: $yellow-vivid-10,
  yellow-vivid-5: $yellow-vivid-5,
);
