$green-warm-90: #171712;
$green-warm-80: #2d2f21;
$green-warm-70: #45472f;
$green-warm-60: #5a5f38;
$green-warm-50: #6f7a41;
$green-warm-40: #8a984b;
$green-warm-30: #a6b557;
$green-warm-20: #cbd17a;
$green-warm-10: #e7eab7;
$green-warm-5: #f1f4d7;

$green-warm: (
  green-warm-90: $green-warm-90,
  green-warm-80: $green-warm-80,
  green-warm-70: $green-warm-70,
  green-warm-60: $green-warm-60,
  green-warm-50: $green-warm-50,
  green-warm-40: $green-warm-40,
  green-warm-30: $green-warm-30,
  green-warm-20: $green-warm-20,
  green-warm-10: $green-warm-10,
  green-warm-5: $green-warm-5,
);
